.newsBox{
    display:grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 4vw;
    justify-content:space-evenly;
    width: 95%;
    min-height: 80vh;
    /* margin: auto; */
    padding: 10px;
  }
  h2{
    /* text-align: center; */
    width: fit-content;
    margin: 10px auto 20px;
    padding: 5px 10px;
    /* margin-bottom: 20px; */
    border-width: 0px 0px 2px 0px;
    border-color: rgb(168, 141, 141);
     border-radius: 5px;
    border-style: groove;
  }
  .navBtn{
    margin-bottom: 20px;
  }
@media screen and (max-width:600px) {
    .newsBox{
      grid-template-columns: auto;
    }
    
}
@media screen and (min-width:600px) and (max-width:1000px){
    .newsBox{
      grid-template-columns: auto auto;
      justify-content:space-between;
      grid-row-gap: 70px;
      width: 100%;
    }
    
}